@import url('../../../main.css');

.header {
    position: fixed;
    width: 100%;
    height: 4rem;
    display: flex;
    alignItems: center;
    justifyContent: start;
    background-color: aqua;
}

.header #logoLinkBox {
    position: relative;
    margin-left: 3rem;
    min-width: 3rem;
    width: auto;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.header #logoLinkBox .logoIcon {
    position: relative;
    width: 2.5rem;
}


.header #logoLinkBox .logoText {
    position: relative;
    margin-left: .5rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: #333 !important;
}